body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.section {
    padding: 5% 10%;
    max-width: 100vw;
}

.section.header {
    background-color: #1f2937;
}

.section.hero {
    background-color: #1f2937;
}

.section.quote {
    background-color: #e5e7eb;
}

.section.footer {
    background-color: #1f2937;
}

.section .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section .hero {
    display: flex;
}

.section .features {
    display: flex;
}

.section .quote {
    display: block;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin: 32px;
}

.section .banner {
    display: flex;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 8px;
    padding: 32px 64px;
}

.section .footer {
    color: #f9faf8;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 48px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 16px;
}

.box {
    width: 100px;
    height: 100px;
    border: 4px solid;
    border-color: #3882F6;
}

.row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-title {
    color: #f9faf8;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-text {
    color: #f9faf8;
    font-size: 18px;
}

.hero-image {
    margin: auto;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    color: #1f2937;
    text-align: right;
}

.cta-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button-primary {
    background-color: #3882F6;
    font-weight: 600;
    color: #f9faf8;
    width: 108px;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.button-secondary {
    background: none;
    font-weight: 600;
    color: #f9faf8;
    width: 108px;
    border: solid;
    border-radius: 8px;
    padding: 8px;
}

ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

button {
    width: 75px;
}